<ion-view title="Cart" id="page2">
  <ion-content padding="true" class="has-header">
      <p>test</p>
    <div  style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
      <img id="myImage" ng-src="{{imgURI}}" style="max-width: 100%" />
    </div>
    <button id="cart-button7" ng-click="takePicture()" class="button button-energized  button-block">Take Picture</button>
  </ion-content>
</ion-view>