<ion-view title="Contact Details" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="contactDetails-heading3" style="color:#000000;">{{currentContact.name}}</h3>
    <div id="contactDetails-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some details...</p>
    </div>
    <div id="contactDetails-button-bar1" class="button-bar">
      <button id="contactDetails-button11" class="button button-positive  button-block">Send Message</button>
      <button id="contactDetails-button12" class="button button-positive  button-block">Call</button>
    </div>
  </ion-content>
</ion-view>