<ion-view title="Todos">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="todo in todoList" class="item-icon-left" ui-sref="menu.todoDetails">
        <i class="icon ion-android-checkbox-outline"></i>{{todo.name}}
        <ion-option-button class="button-assertive" ng-click="deleteTodo(todo)">Delete</ion-option-button>
        <ion-option-button class="button-balanced" ng-click="completeTodo(todo)">Done !</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <!--<div class="buttons">
        <button class="button">Status : Pending</button>
      </div>
      
      <div class="buttons" ng-click="doSomething()">
        <button class="button">Contact : HR Admin</button>
      </div>-->
    <div class="row">
      <div class="col col-50 buttons" ng-click="doSomething()">
        <button class="button icon ion-android-folder-open" style="width:100%"></button>
      </div>
      <div class="col col-50 buttons" ng-click="doSomething()">
        <button class="button icon ion-images" style="width:100%"></button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>