<ion-view title="Todo Details">
  <ion-content padding="true" class="has-header">
    <h3 style="color:#000000;">My TODO 1</h3>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>

      <p style="color:#000000;">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">Due Date : TO REPLACE</p>
    </div>
    <h4 style="color:#000000;">Contact : HR manager</h4>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <div class="row">
      <div class="col col-33 buttons" ng-click="doSomething()">
        <button class="button icon ion-android-folder-open" style="width:100%"></button>
      </div>
      <div class="col col-33 buttons" ng-click="doSomething()">
        <button class="button" style="width:100%"></button>
      </div>
      <div class="col col-33 buttons" ng-click="doSomething()">
        <button class="button icon ion-images" style="width:100%"></button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>