<ion-view title="Todos" cache-view="false">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-scroll style="height: calc(100% - 57px); overflow: hidden">
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="todo in todoList | orderBy: '-status'" class="item-icon-left" ng-click="viewTodoDetails(todo)">
          <i class="icon ion-android-checkbox-outline" ng-if="todo.val().status=='Done'" style="color: gray"></i>
          <i class="icon ion-android-checkbox-outline-blank" ng-if="todo.val().status!='Done'"></i>{{todo.val().name}}
          <ion-option-button class="button-assertive" on-tap="deleteTodo(todo)">Delete</ion-option-button>
          <ion-option-button class="button-balanced" on-tap="completeTodo(todo)" ng-if="todo.val().status!='Done'">Done</ion-option-button>
          <ion-option-button class="button-balanced" on-tap="pendingTodo(todo)" ng-if="todo.val().status=='Done'">Pending</ion-option-button>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <button id="menu-button5" ng-click="addTodo()" class="button button-energized button-block ion-plus-circled">&nbsp;Add Todo</button>
  </ion-content>
</ion-view>